
<select onchange="Filter()" id="filter">
    <option  selected value="default">Show All</option>
    <option value="slavery">Slavery</option>
    <option value="celebration">Celebration</option>
    <option value="danger">Danger</option>
    <option value="emotion">Emotion</option>
</select>
<span class="results hide"><span>Filter results: </span><span id="resultsCounter">0</span></span>
<button onclick="resetToVisible()">Reset filter</button>