<select onchange="val()" id="filter">
    <option disabled selected>Filter</option>
    <option value="slavery">Slavery</option>
    <option value="celebration">Celebration</option>
    <option value="danger">Danger</option>
    <option value="emotion">Emotie</option>
</select>
<button onclick="resetToVisible()">Reset filter</button>