{{#link-to "headscarves" class="navigation"}}
    Back to collection
{{/link-to}}
<article>
    <header>
        <h1>{{headscarf.title}}</h1>
    </header>
    <p>Origin: {{headscarf.createdDate}}</p>
    <div class="content">
        <div class="content-item">
        <figure>
            <!--<img src="{{headscarf.imageLink}}" alt="" />-->
            <img src="../assets/images/imageproxy.jpeg" alt="" />
            <!--<img src="../assets/images/imageproxy.jpeg" alt="" />-->
        </figure>

        <div class="description">
            <p>{{headscarf.description}}</p>
        </div>

        </div>
    </div>

</article>

