{{#each @headscarves as |headscarf|}}
<article class="instrument">
    <img src={{headscarf.imageLink}} width="50" height="100">
    <h3>{{headscarf.title}}</h3>
    <div class="detail owner">
        <span>Owner:</span> {{headscarf.createdDate}}
    </div>
</article>
{{/each}}