
<p>{{headscarf.title}}</p>
<img src="../assets/images/imageproxy.jpeg" width="200" alt="" />
<!--<img src="{{headscarf.imageLink}}" width="200" alt="" />-->
<p>{{headscarf.createdDate}}</p>
<!--<p>{{headscarf.imageLink}}</p>-->



