h1,p,a,span{
    color:#fff;
    font-family: 'Roboto', sans-serif;
}



body{
    background-color: #000;
}

header{
    width: 100%;
    height:3rem;
    background-color: grey;
}


.container{
    margin-top: 5rem;
    height: auto;
    position: relative;
    border: 3px solid green;
}

.glide h1 {
    font-size: 1.2em;
}

.glide li{
    /*background-color: #17141d;*/
    overflow: hidden;
}

.imageHolder{
    height: 500px;
    width: 100%;
    background-color: red;
}


.glide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}




.museumLogo{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 2rem;
    z-index: 1;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 100px 50px;
    margin-left: 2rem;
}